extends ../layouts/main.pug

block content
  article.publication-detail
    header.publication-detail__header
      h1= publication.title

      if publication.author
        p
        | Publicado por 
        a(href=`/users/${publication.author.id}`)= publication.author.nickname

      if publication.description
        p= publication.description

      if publication.tags && publication.tags.length
        div.tags
          each tag in publication.tags
            span.tag ##{tag.name}

    section.image-gallery
      each image in publication.images
        figure.image-card
          div.image-wrapper
            img(src=image.url, alt=image.alt_text || publication.title)

            if image.is_watermarked && image.watermark_text
              span.watermark= image.watermark_text

          figcaption
            if image.license === 'copyright'
              span.badge.badge-warning Con copyright
            else
              span.badge.badge-success Sin copyright

            p Valoración promedio: #{image.average_rating} / 5
            p Votos: #{image.ratings_count}

            if isAuthenticated
              if isAuthor
                p.rating-info No podés valorar tus propias imágenes.
              else
                if image.ratings && image.ratings.length
                  p.rating-info Tu valoración: #{image.ratings[0].value} / 5
                else
                  form.rating-form(action=`/ratings/images/${image.id}`, method="POST")
                    input(type="hidden", name="publication_id", value=publication.id)
                    label(for=`rating-${image.id}`) Valorar imagen
                    select(id=`rating-${image.id}`, name="value", required)
                      option(value="") Seleccionar
                      option(value="1") 1 - Muy mala
                      option(value="2") 2 - Mala
                      option(value="3") 3 - Regular
                      option(value="4") 4 - Buena
                      option(value="5") 5 - Excelente
                    button.btn(type="submit") Valorar
            else
              p.rating-info
                | Para valorar necesitás 
                a(href="/auth/login") iniciar sesión
                | .

            if image.comments_enabled
              p Comentarios habilitados
            else
              p Comentarios cerrados

            if isAuthor
              form.toggle-comments-form(action=`/comments/images/${image.id}/toggle`, method="POST")
                button.btn.btn-secondary(type="submit")
                  if image.comments_enabled
                    | Cerrar comentarios
                  else
                    | Reabrir comentarios

          section.comments-box
            h3 Comentarios

            if image.comments && image.comments.length
              each comment in image.comments
                article.comment
                  strong= comment.author ? comment.author.nickname : 'Usuario'
                  p= comment.content
                  small= new Date(comment.createdAt).toLocaleString('es-AR')
            else
              p Todavía no hay comentarios en esta imagen.

            if isAuthenticated
              if image.comments_enabled
                form.comment-form(action=`/comments/images/${image.id}`, method="POST")
                  input(type="hidden", name="publication_id", value=publication.id)
                  textarea(
                    name="content",
                    rows="3",
                    maxlength="500",
                    placeholder="Escribí un comentario...",
                    required
                  )
                  button.btn(type="submit") Comentar
              else
                p Los comentarios fueron cerrados por el autor.
            else
              p
                | Para comentar necesitás 
                a(href="/auth/login") iniciar sesión
                | .